@use "../abstracts" as abs;

.roadmap{
    padding: 80px 135px 0 135px;
    max-width: 1440px;
    @include abs.respond() {
        padding: 80px 35px 0 35px;
    }
  margin: 0px auto;
    display: flex;
    gap: 8px;
    a{
        @include abs.font("Poppins", 14px, #000000, 1.5, 400);
        text-decoration: none;
        cursor: pointer;
    }
    
}
.cart__list{
    max-width: 1440px;
  margin: 0px auto;
    padding: 40px 135px;
    display: flex;
    flex-direction: column;
    gap: 40px;
        @include abs.respond() {
        padding: 40px 35px;
    }
    .title{
        padding: 24px 40px 0 40px;
        display: flex;
        justify-content: space-between;
            @include abs.respond() {
        white-space: normal;
    }
    }
    #cart{
        padding: 0px 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .cart-item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .pro-title{
                display: flex;
                align-items: center;
                gap: 10px;
                flex: 31%;
    @include abs.respond() {
        white-space: normal;
    }
            }
            .pro-price{
                flex: 24%;
            }
            .pro-quantity{
                flex: 15%;
                text-align: center;
                input{
                    text-align: center;
                }
                
            }
            .pro-total{
                flex: 25%;
                text-align: end;
            }
        }
    }
}
.cart-total{
    text-align: right;
}
.updatecart{
    padding: 0 135px;
    text-align: end;
    button{
        padding: 20px 40px;
        border-radius: 0%;
        background: white;
        cursor: pointer;
    }
}