@use "../abstracts" as abs;
.top{
  background: black;
    color: abs.$color-light;
    position: fixed;
    width: 100%;
    z-index: 100;
  .topbar {
    background: black;
    color: abs.$color-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 135px;
    max-width: 1440px;
    margin: 0px auto;
    &__promo {
      @include abs.font("Poppins", 14px, #FAFAFA, 1.5);

      &-link {
        @include abs.font("Poppins", 14px, #fafafa, 1.5);
        text-decoration: underline;
        font-weight: bold;
      }
    }

    &__lang-select {
      @include abs.font("Poppins", 14px, abs.$color-light, 1.5);
      background: transparent;
      border: none;
      color: inherit;
      cursor: pointer;
      option{
        color: black;
      }
    }
      @include abs.respond() {
        padding: 10px 25px;
     &__promo {
      @include abs.font("Poppins", 10px, #FAFAFA, 1.5);
      white-space: normal;

      &-link {
        @include abs.font("Poppins", 10px, #fafafa, 1.5);
      }
       
    }     &__lang-select {
      @include abs.font("Poppins", 10px, white, 1.5);
      margin-left: 10px;
    } 
  }
  }

}