@use "../abstracts" as abs;

.banner{
    display: flex;
    &__sidebar{
        padding: 40px 0 0px 135px;
        flex: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 16px;
        @include abs.font("Poppins", 16px, #000000, 1.5, 400);
        border-right: 1px solid #d6d6d6;
    }
    &__main{
        padding: 40px 135px 0px 45px;
        flex: 75%;
        img{
            height: 100%;
            object-fit: scale-down;
        }
    }
}